<div>
    <p style="text-indent: 10%">
        车小惠已收到您的申诉!
    </p>
    <p style="text-indent: 10%">
        我们将在核实后与您联系!请保持电话畅通!
    </p>
    <p style="text-indent: 10%">
        您也可以拨打车友惠热线,提出您的意见建议,我们将认真考虑您的建议,为您带来更好的服务!
    </p>
    <p style="text-indent: 10%">
        车小惠已收到您的申诉!
    </p>
    <p style="text-align: center">
        <b style="font-size: 26px; color:#387ef5">车友惠热线:</b><br>
        <b style="font-size: 26px; color:#387ef5">400-009-0047转1</b><br>
        <b style="font-size: 26px; color:#387ef5">客服QQ:</b><br>
        <b style="font-size: 26px; color:#387ef5">1011973383</b><br>
    </p>
</div>