<ion-view>
    <ion-content class="padding">
        <p style="text-align: center; font-size: 26px; color:#387ef5; line-height: 26px;">
            <br>
            <br>
            <br>
            已成功联系到车主<br>
            耐心等待<br>
        </p>
        <p>
            若车主迟迟未到,您可在"订单"中查看您的挪车记录并再次联系车主.
        </p>
        <p>
            车友惠挪车提醒服务正在试点测试中(目前仅限云南省内),可以邀请您的好友一起帮助测试,让车小惠能为您提供更好的服务!
        </p>
        <h3>点击右上角, "分享给好友" 或 "分享到朋友圈"</h3>
    </ion-content>
    <div class="bar bar-footer bar-positive" ui-sref="tab.move_car" ui-sref-opts="{loaction: 'replace'}">
        <div class="title">
            回到首页
        </div>
    </div>
</ion-view>