<div>
    <p style="text-indent: 10%">
        车小惠收到您的反馈啦!
    </p>
    <p style="text-indent: 10%">
        我们会认真聆听您的声音
    </p>
    <p style="text-indent: 10%">
        感谢您的支持!
    </p>
    <p style="text-indent: 10%">
        如有不满意的地方, 可以直接拨打车友惠热线哦!
    </p>
    <p style="text-align: center">
        <b style="font-size: 26px; color:#387ef5">车友惠热线:</b><br>
        <b style="font-size: 26px; color:#387ef5">400-009-0047转1</b><br>
        <b style="font-size: 26px; color:#387ef5">客服QQ:</b><br>
        <b style="font-size: 26px; color:#387ef5">1011973383</b><br>
    </p>
</div>