<ion-view view-title="提交订单">
    <ion-content>
        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col col-offset-10"></div>
                    <div class="col col-80">对方的车牌:{{order.record.hphm}}</div>
                    <div class="col col-offset-10"></div>
                </div>
                <div class="row">
                    <div class="col col-offset-10"></div>
                    <div class="col col-80">您的手机号:{{order.record.uphone}}</div>
                    <div class="col col-offset-10"></div>
                </div>
                <div style="text-align: center">
                    <p>为确保正常连接, 请确认您的电话号码填写正确</p>
                    <b style="font-size: 20px;color:#387ef5">车小惠已为您找到车主</b><br>
                    <b style="font-size: 20px;color:#387ef5">付款后即可联系到TA</b>
                </div>
            </div>
            <div class="item item-icon-right mini" ng-click="start_select_ticket()" mc-oplog="{action_name: 'select_ticket', action_title: '选择票券'}">
              使用票券
              <span class="item-note" ng-if="!ticket_selected">选择票券</span>
              <span class="item-note" ng-if="ticket_selected">{{ticket_selected.value}}元({{ticket_selected.type_text}})</span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item item-divider">
                资费明细
            </div>
            <div class="item mini">
                服务费
                <span class="item-note">{{order.record.price|currency:'￥':2}}</span>
            </div>
            <div class="item mini" ng-if="ticket_selected">
                使用{{ticket_selected.type_text}}({{ticket_selected.title}})
                <span class="item-note">{{ticket_selected.type == 4 ? '=' : '-'}}{{ticket_selected.value|currency:'￥':2}}</span>
            </div>
            <div class="item mini">
                总计
                <span class="item-note">{{order.record.price|currency:'￥':2}}</span>
            </div>
            <div class="item mini">
                实付
                <span class="item-note money"><b>{{( ticket_selected.type == 4 ? ticket_selected.value : ( order.record.price - ticket_selected.value ) )|currency:'￥':2}}</b></span>
            </div>
            <div class="item item-divider">
                资费说明
            </div>
            <div class="item mini">
                <p>
                    服务费包含: <br>
                    &nbsp;&nbsp;(1)为您找到车主 <br>
                    &nbsp;&nbsp;(2)短信通知车主 <br>
                    &nbsp;&nbsp;(3)语音呼叫车主 <br>
                </p>
            </div>
        </div>
        <div class="list" ng-if="( ticket_selected.type == 4 ? ticket_selected.value : ( order.record.price - ticket_selected.value )) != 0 && !is_cm">
            <div class="item item-divider">
                支付方式
            </div>
            <!-- <ion-radio ng-model="pay_data.way" value="alipay" name="pay_way"><div>支付宝</div></ion-radio> -->
            <ion-radio ng-model="pay_data.way" value="wxpay" name="pay_way"><div>微信支付</div></ion-radio>
        </div>
    </ion-content>
    <ion-footer-bar>
        <h4>应付:<span class="money"><b>{{( ticket_selected.type == 4 ? ticket_selected.value : ( order.record.price - ticket_selected.value ) ) |currency:'￥':2}}</b></span></h4>
        <button class="button button-positive pull-right" ng-click="pay(pay_data.way)" ng-if="( ticket_selected.type == 4 ? ticket_selected.value : ( order.record.price - ticket_selected.value ) ) != 0" mc-oplog="{action_name: 'order_pay', action_title: '订单支付'}">
            支付
        </button>
        <button class="button button-positive pull-right" ng-click="pay(pay_data.way)" ng-if="( ticket_selected.type == 4 ? ticket_selected.value : ( order.record.price - ticket_selected.value ) ) == 0" mc-oplog="{action_name: 'order_free', action_title: '免费使用'}">
            免费使用
        </button>
    </ion-footer-bar>
</ion-view>