<ion-view view-title="我的">
  <ion-content>
    <div class="list">
        <a href="" class="item item-icon-left item-button-right">
            <i class="icon ion-android-phone-portrait"></i>
            我的电话
            <span class="item-note">{{user.info.phone}}</span>
            <button class="button button-small button-calm" ng-click="start_modify_phone()">修改</button>
        </a>
        <a href="#/car_list" class="item item-icon-left item-icon-right">
            <i class="icon ion-model-s"></i>
            我的车
            <span class="item-note" ng-if="user.info.car_count == 0">您还没有添加车辆</span>
            <span class="badge badge-assertive" ng-if="user.info.car_count != 0">{{user.info.car_count}}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a href="#/tickets/available" class="item item-icon-left item-icon-right">
            <i class="icon ion-ios-filing"></i>
            我的卡券
            <span class="item-note" ng-if="user.info.ticket_count == 0">您没有卡券</span>
            <span class="badge badge-assertive" ng-if="user.info.ticket_count != 0">{{user.info.ticket_count}}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
