<ion-view view-title="挪车">
  <ion-content class="padding">
    <div class="row">
      <div class="col-offset10"></div>
      <div class="col col-80">
        <img class="full-image" src="img/car_mate_logo.png" />
      </div>
      <div class="col-offset10"></div>
    </div>
    <form name="move_car_form" novalidate>
      <div class="list">
        <div class="item item-input-inset">
          <i class="icon ion-android-car placeholder-icon"></i>
            <select style="background: none; padding: 4px; border: none;" name="province" ng-model="form_data.province">
              <option value="云">云</option>
            </select>
          <label class="item-input-wrapper" style="background:none;">
            <input type="text" name="hphm" placeholder="挡路车牌号" ng-model="form_data.hphm" ng-pattern="/[a-zA-Z]\w{5}/" required>
          </label>
        </div>
        <label class="item item-input">
          <i class="icon ion-iphone placeholder-icon"></i>
          <input type="tel" name="phone" placeholder="您的手机号" ng-model="form_data.phone">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="submit(move_car_form)" ng-disabled="move_car_form.$invalidate">通知TA</button>
    </form>
  </ion-content>
</ion-view>
