<ion-modal-view>
    <div class="bar bar-header bar-stable">
        <div class="button-bar">
            <button class="button button-clear" ng-click="end_select_ticket()">
                <i class="icon ion-ios-close-outline"></i>
                不使用票券
            </button>
        </div>
    </div>
    <ion-content class="has-header">
        <div class="list" ng-repeat="ticket in tickets" ng-click="select_ticket(ticket)">
            <div class="item ticket">
                <h2>{{ticket.type_text}}</h2>
                <h3>{{ticket.title}}</h3>
                <p>{{ticket.des}}</p>
                <p>到期时间:{{ticket.end_date}}</p>
                <div class="ticket-fee">
                    <span>{{ticket.value | currency:'￥':1}}</span>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!tickets || tickets.length == 0" style="height: 90%">
          <div class="col col-33 col-offset-33 col-center" style="text-align: center; color: #ccc; font-size: 1rem">
            <i class="ion-sad-outline" style="font-size: 7rem;"></i><br>
            暂无可用卡券
          </div>
        </div>
    </ion-content>
</ion-modal-view>