<ion-view title="过期卡券">
    <ion-content>
        <div class="list" ng-repeat="ticket in tickets" ng-click="select_ticket(ticket)">
            <div class="item ticket expired">
                <h2>{{ticket.type_text}}</h2>
                <h3>{{ticket.title}}</h3>
                <p>{{ticket.des}}</p>
                <p>到期时间:{{ticket.end_date}}</p>
                <div class="ticket-fee">
                    <span>{{ticket.value | currency:'￥':1}}</span>
                </div>
            </div>
        </div>
        <div class="row" ng-if="tickets && tickets.length == 0" style="height: 90%">
          <div class="col col-33 col-offset-33 col-center" style="text-align: center; color: #ccc; font-size: 1rem">
            <i class="ion-happy-outline" style="font-size: 7rem;"></i><br>
            暂无过期卡券
          </div>
        </div>
        <ion-infinite-scroll ng-if="!no_more_tickets" on-infinite="load_more_expire_tickets()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>